.full-calendar input,
.full-calendar button {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    position: relative;
}

.full-calendar header {
    background-color: #323639;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: white;
}

.full-calendar header h1 {
    font-size: inherit;
    margin: 0;
}

.full-calendar .react-calendar {
    margin: 0 auto;
    width: 100%;
    background: unset;
    border: unset;
}

.react-calendar__tile--now {
    border: 1px solid #007df0 !important;
    background: none;
}

.react-calendar__tile--now:hover {
    background-color: #007df0 !important;
    color: #fff;
}

.react-calendar__tile--active {
    color: #000 !important;
}

.react-calendar__tile {
    padding: 20px 6.6667px;
}

.calendar-tile-content {
    position: absolute;
    background-color: #007df0;
    color: #fff;
    width: 17px;
    height: 17px;
    border-radius: 999px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4px;
    left: 4px;
    margin-top: 0;
}

.react-calendar__tile--rangeStart .calendar-tile-content {
    background-color: #fff;
    color: #007df0;
}
