.title {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -0.05em;

    span {
        color: #0558a5;
    }

    @media (max-width: 768px) {
        font-size: 30px;
    }
}

.card {
    background: #fafcff;
    box-shadow: 0px 10px 90px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 3fr 2fr;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        margin-bottom: 100px;
    }

    .left {
        padding: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;

        @media (max-width: 768px) {
            gap: 30px;
            padding: 20px 10px;
        }

        .circle {
            width: 200px;
            height: 200px;
            border: 2px solid #82aff3;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;

            @media (max-width: 768px) {
                width: 150px;
                height: 150px;
                text-align: center;
            }
        }

        a {
            text-decoration: none;
            color: #000;
        }
    }

    .right {
        background-color: #e1e8ec;
        padding: 0 50px;
    }
}

.appointments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;

    .appointment {
        display: flex;
        gap: 20px;
        align-items: center;
    }
}
